{% extends 'base.html' %}

{% block contenido %}
    <div class="wrap">
         <div class="preview-page">
             <div class="contact-form" id="seccionMision">
                 <h3>Misión</h3>
                 <div class="formAdmin" style="padding: 20px;">
                     <h2>Misión</h2>
                     <hr>
                     <p align="justify" style="padding: 20px;">
                         G&G by Blessing es una empresa dedicada a la producción y venta de calzado para damas,caballeros y niños,
                         con el propósito de satisfacer las necesidades de los clientes ofreciéndoles productos de calidad,
                         cómodos y en los mejores precios.
                         Su producción y método de trabajo es en línea, donde todos trabajan en equipo, con sentido de
                         pertenencia y amor por lo que se hace, lo cual se ve reflejado en un producto con calidad.
                         Trabajamos siempre en procura del beneficio de todos.
                     </p>
                 </div>
             </div>
             <div class="contact-form" id="seccionVision">
                 <h3>Visión</h3>
                 <div class="formAdmin" style="padding: 20px;">
                     <h2>Visión</h2>
                     <hr>
                     <p align="justify" style="padding: 20px;">
                         G&G by Blessing para el 2016 se convertirá en una empresa líder y de reconocimiento en la producción
                         y venta de calzado para damas, cabelleros y niños a nivel nacional e internacional, organizando
                         todos sus procesos y departamentos con el objetivo de prestar el mejor servicio y calidad de
                         nuestros productos, logrando con esto ser lideres en la elaboración de un calzado súper versátil
                         y cómodo con precios competitivos para poder abarcar mercados internacionales, desarrollando
                         plenamente la capacidad de nuestro talento humano, contribuyendo de esta forma al desarrollo
                         de la comunidad.
                     </p>
                 </div>
             </div>
             <div class="contact-form" id="seccionUbicacion">
                 <h3>Ubicación</h3>
                 <div class="formAdmin" style="padding: 20px;">
                     <h2>Ubicación</h2>
                     <hr>
                     <p align="justify" style="padding: 20px;">
                         Dirección: Bolívar / Guayas y Nueve de Mayo
                         <br>
                         Machala - El Oro - Ecuador
                         <br>
                         Teléfono: +593 98 437 1497


                         <div class="contact_info">
					    	  <div class="map">
							   	    <iframe src="https://www.google.com/maps/d/embed?mid=z2PkLCMeYqww.kh5boGewOBtI"
                                            style="width: 100%; height: 350px;"></iframe>
							  </div>
      				    </div>
                     </p>
                 </div>
             </div>
         </div>
    </div>
{% endblock %}